.multi-form-container {
    display: flex;
    flex-direction: row;
    background-color: $clrwhite;
    border-radius: em(7.5px);
    padding: em(10px) em(15px);

    .mtc-container {
        min-width: em(274px);
        min-height: em(568px);
        display: flex;
        flex-direction: column;

        .multi-form-state-left {
            padding: em(18.5px) em(20.5px);
            gap: em(10.5px);

            div {
                color: $clrwhite;

            }

            h5 {
                color: $clrLb;
            }

            &.active {
                .state-num {
                    background-color: $clrPAb;
                    color: $clrMb;
                }
            }


            .state-num {
                border: 1px solid $clrwhite;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                cursor: pointer;
            }


        }

    }

}

.btn-box {

    button {
        color: $clrCg;
        background-color: white;
        border: none;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }


    .move-state-btn {
        display: flex;
        flex-direction: column;
        align-self: end;
        justify-content: center;
        color: $clrwhite;
        background: $clrMb;
        border-radius: em(8px);
        padding: em(16px) em(32px);
        font-size: 15px;
        cursor: pointer;
    }



}

@media (max-width:900px) {
    .multi-form-container {
        flex-direction: column;

        .mtc-container {
            display: flex;
            flex-direction: row;
            background-color: red;
            justify-content: center;
            align-items: start;
            min-height: em(172px);

            .multi-form-state-left {
            }
        }
    }
}