@font-face {
    font-family: ubuntubold;
    src: url(../../fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: UbuntuMed;
    src: url(../../fonts/Ubuntu-Meduim.ttf);
}

@font-face {
    font-family: UbuntuR;
    src: url(../../fonts/Ubuntu-Regular.ttf);
}