// Colors
// Primary
$clrMb: hsl(213, 95%, 16%); // Marine blue
$clrPUb: hsl(243, 100%, 62%); // Purplish blue
$clrPAb: hsl(228, 86%, 85%); // Pastel blue
$clrLb: hsla(206, 94%, 87%, 0.638); // Light blue
$clrSr: hsl(354, 84%, 57%); // Strawberry red

// Neutral
$clrCg:#9699ab; // Cool gray
$clrLg:#d6d9e6; // Light gray
$clrMa:#f0f6ff; // Magnolia
$clrAl:#fafbff; // Alabaster
$clrwhite:#ffffff; // White
$clrbackGrund: #EFF5FF; // background

// Breakpoints
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;